doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    title Home
  body
    .header
      h1.page-title Nikhil Vedi
    
    .main-content
      .p #404 - What you doing here?

    .footer
      p © 2018 WTFPL  