doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    title Hello
  body
    .header
      h1.page-title Russel Benton is soulless (ginger)
    
    .main-content
     

    .footer
      
