doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    title Home
  body
    .header
      h1.page-title Nikhil Vedi

    .main-content
        .p I'll give you a quid if you find me 

    .footer
      p © 2018 WTFPL  