doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    title Hello
  body
    .header
      h1.page-title Come at me 
    
    .main-content
      
      Dan Schofield - Smells
      Russell Benton - Ginger 

    .footer
      
    © 2018 WTFPL  