doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    title Hello
  body
    .header
      h1.page-title Come at me 
    
    .main-content
      
      p.
      Dan Schofield - Smells

      p.
      Russell Benton - Ginger 

    .footer
      p © 2018 WTFPL  