doctype html
html
  head
    link(rel='stylesheet', href='/css/index.css')
    script(src='/js/default.js')
    title Home
  body
    .header
      h1.page-title Hi

    .main-content
        .p Hello, i love u

    .footer
      p © 2018 WTFPL