doctype html
html
    head
        link(rel='stylesheet', href='/css/index.css')
        title Star Wars
    body

        .main-content
            .image-block
                img.className#IdName(src="/Upload-folder/tom-pod.png" alt="Render the image u scrub")

            .footer
            p © 2018 WTFPL