doctype html
html
    head
        link(rel='stylesheet', href='/css/index.css')
        title Star Wars
    body

        .main-content
            .image-block
                img.className#IdName(src="https://static.wikia.nocookie.net/afbe0a28-af5a-4073-9579-1b56c0a33e22" alt="Render the image u scrub")

            .footer
            p © 2018 WTFPL